.payment-page {
  display: flex;
  height: 100vh; /* Full viewport height */
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 100vw; /* Full viewport width */
  background: linear-gradient(
    135deg,
    #ffaf7b,
    /* Soft peachy-orange for warmth */ #d76d77,
    /* Rich reddish-pink for energy */ #3a1c71
      /* Deep purple for depth and elegance */
  );
  color: white;
}

.payment-page h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pay-now-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.pay-now-button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 36px;
  }

  .home p {
    font-size: 18px;
  }

  .qr-code {
    width: 120px;
    height: 120px;
  }
}
.payment-success {
  color: green;
  font-size: 24px;
  font-weight: bold;
  margin-top: 150px;
  text-align: center;
  opacity: 0;
  animation: fadeInScale 1s forwards; /* Animation to fade and scale */
}

/* Animation Keyframes */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center the loading spinner vertically */
}
