.cart {
  /* background-color: #f1f1f1; */
  background: linear-gradient(135deg, #d9dfe3, #eac48b);
  padding: 1.5rem;
  border-radius: 8px;
  width: 300px;
  margin-left: 1.5rem;
}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: black;
}

.cart ul {
  list-style: none;
  padding: 0;
  color: black;
}

.cart ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.cart ul li button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.cart ul li button:hover {
  background-color: #c82333;
}

.cart p {
  font-size: 1rem;
  margin-top: 1rem;
  color: red;
}
