.order-summary-container {
  max-width: 800px;
  /* margin: 0 auto; */
  padding: 50px;
  background: linear-gradient(
    135deg,
    #ffaf7b,
    /* Soft peachy-orange for warmth */ #d76d77,
    /* Rich reddish-pink for energy */ #3a1c71
      /* Deep purple for depth and elegance */
  );
}

.order-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}
.status {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
  text-align: end;
  margin: 0;
}

.accepted {
  color: white;
  background-color: green;
}

.preparing {
  color: white;
  background-color: orange;
}

.delivered {
  color: white;
  background-color: blue;
}

.order-card h3 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.order-items {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* margin-top: 0px; */
}

.order-items h4 {
  margin-bottom: 0px;
}

.item {
  display: flex;
  justify-content: space-between;
  /* padding: 0px 0; */
}

hr {
  margin-top: 20px;
  border: 0.5px solid #ddd;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total p {
  margin: 0;
  color: black;
  font-size: 15x;
  font-weight: bold;
}
