.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f5f5f5;
}

h1,
h2,
h3 {
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
}
